#header, #footer, #main {
  @extend .clearfix;
}

#main-wrapper {
  @include container;
  padding: 0 !important;
}

#homebox,
.container {
  @include container;
  @include susy-grid-background;
  position: relative;
  padding: 0 $gutter-width/2;
}
.container-nopadding {
  padding: 0 !important;
}

/**
 * Breakpoint small
 */
@include at-breakpoint($break-small) {
  #main-wrapper {
    @include container($total-columns, $break-small);
  }
  .container {
    @include container($total-columns, $break-small);
    @include susy-grid-background;
  }
  .region_meta_first {
//    @include span-columns($break-small/2, $break-small);
  }
  .region_meta_second {
//    @include span-columns($break-small/2 omega, $break-small);
    .block-menu {
      display: block;
    }
  }
  .region_meta_first {
    .block-menu {
      ul.menu {
        display: block;
      }
    }
  }

  .region_363_first {
    @include span-columns(2, $break-small);
  }
  #content {
    @include span-columns(4 omega, $break-small);
  }
  .region_363_third {
    @include span-columns($break-small, $break-small);
  }

  .view-voorpagina-banners {
    .views-row {
      @include span-columns(3, 6);
      &:nth-child(2n) {
        @include omega;
      }
    }
  }
  .alleen-mobiel,
  .only-mobile {
    display: none;
  }
  .block-search {
    input[type="text"] {
      width: 200px;
    }
  }
  .branding {
    padding: $gutter-width 0;
  }
  .site-name .name {
    display: inline;
  }
  body.front {
    nav {
      &.main-menu {
        margin-bottom: $gutter-width;
      }
    }
  }
  #homebox {
    @include container($total-columns, $break-small);
    @include susy-grid-background;
    .homebox-column-wrapper {
      @include span-columns(2, $break-small);
    }
    .homebox-column-wrapper-3 {
      @include omega;
    }
  }
  .view-updates-display-block_1,
  .block-views-updates-block-1 {
    .views-row {
      .field-intro,
      h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .view-voorpagina-banners {
    .views-row-3,
    .views-row-4 {
      margin-bottom: 0 !important;
    }
  }
  .view {
    .views-row {
      .node {
        .content {
          overflow: hidden;
        }
      }
    }
  }
}

/**
 * Breakpoint medium
 */
@include at-breakpoint($break-medium) {
  #main-wrapper {
    @include container($total-columns, $break-medium);
  }
  .container {
    @include container($total-columns, $break-medium);
    @include susy-grid-background;
  }
  .region_meta_first {
    @include span-columns(5, 10);
  }
  .region_meta_second {
    @include span-columns(5 omega, 10);
  }
  .region_93_first {
    @include span-columns(6, $break-medium);
  }
  .region_93_second {
    @include span-columns(3 omega, $break-medium);
  }

  .region_39_first {
    @include span-columns(3, $break-medium);
  }
  .region_39_second {
    @include span-columns(6 omega, $break-medium);
  }

  .region_363_first {
    @include span-columns(2, $break-medium);
    @include pull(6);
  }
  #content {
    @include span-columns(4, $break-medium);
    @include push(2);
  }
  .region_363_third {
    @include span-columns(3 omega, $break-medium);
  }

  // Toptaken
  .block-menu-menu-toptaken > ul {
    width: columns(2, 6);
  }
  .block-menu-menu-toptaken > ul > li > ul {
    left: columns(2, 6);
    width: columns(4, 6);
    padding-left: $gutter-width;
  }
  .block-menu-menu-toptaken > ul > li > ul > li {
    width: columns(3, 6);
    margin-right: 10px;
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
    a {
      @include border-radius(4px);
//      height: 60px;
//      line-height: 58px;
      padding: $gutter-width/3 0;
//      padding-left: $gutter-width/2;
      text-align: center;
      span {
        display: block;
        margin: 0 0 6px 0;
      }
    }
  }
  .view-voorpagina-banners {
    .views-row {
      @include span-columns(3, 6);
      &:nth-child(2n) {
        @include omega;
      }
    }
  }
  .region_444_first,
  .region_444_second,
  .region_444_third,
  .region_footer_first,
  .region_footer_second,
  .region_footer_third {
    @include span-columns(3, $break-medium);
  }
  .region_444_third,
  .region_footer_third {
    @include omega;
  }
  .onderwerpen-toggle,
  .menu-toggle {
    display: none;
  }
  nav {
    &.main-menu {
      > .container > nav.block-menu,
      .block-dominion-menu,
      .block-system-main-menu {
        > ul.menu > li.active-trail,
        > ul.menu > li:hover {
          margin-top: -4px;
          border-top: 4px solid $background-color;
        }
        ul {
          display: block;
          li {
            float: left;
            a {
              @include font-size(14);
              padding: 12px $gutter-width/2;
            }
            ul {
              position: absolute;
              top: 38px;
              display: none;
              max-width: 250px;
              min-width: 194px;
            }
          }
        }
      }
    }
    #quicktabs-container-alfabet {
      .quicktabs-tabpage {
        @include column-count(3);
        @include border-bottom-radius(4px);
        position: absolute;
      }
    }
    .block-quicktabs-alfabet {
      h2.block-title {
        display: block !important;
      }
    }
    .quicktabs-tabs {
      display: block !important;
    }
  }
  .block-menu-menu-toptaken > ul > li > ul {
    position: absolute;
  }
  nav.main-menu .block-quicktabs-alfabet h2.block-title {
    top: 24px;
  }
  .block-search {
    position: absolute !important;
    right: $gutter-width;
    bottom: $gutter-width;
    top: auto;
    margin: 0 !important;
    padding: $gutter-width/4;
    input[type="text"] {
      @include transition-property(width, background);
      @include transition-duration(450ms);
      width: 286px;
      &:focus  {
        width: 330px;
      }
    }
  }
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  .closed {
    display: block !important;
  }
  .block-views-personen-intranet-block-1,
  .block-views-personen-block-1 {
    .views-row {
      @include span-columns(4, 12);
      &:nth-child(3n) {
        @include omega;
      }
    }
  }
  #homebox {
    @include container($total-columns, $break-medium);
    @include susy-grid-background;
    .homebox-column-wrapper {
      @include span-columns(3, $break-medium);
    }
    .homebox-column-wrapper-3 {
      @include omega;
    }
  }
}

/**
 * Breakpoint large
 */
@include at-breakpoint($break-large) {
  #main-wrapper {
    @include container($total-columns, $break-large);
  }
  .container {
    @include container($total-columns, $break-large);
    @include susy-grid-background;
  }
  .region_meta_first {
    @include span-columns(6, $break-large);
  }
  .region_meta_second {
    @include span-columns(6 omega, $break-large);
  }

  .region_93_first {
    @include span-columns(8, $break-large);
  }
  .region_93_second {
    @include span-columns(4 omega, $break-large);
  }

  .region_39_first {
    @include span-columns(3, $break-large);
  }
  .region_39_second {
    @include span-columns(9 omega, $break-large);
  }

  .region_363_first {
    @include span-columns(3, $break-large);
    @include pull(8);
  }
  #content {
    @include span-columns(5, $break-large);
    @include push(3);
  }
  .region_363_third {
    @include span-columns(4 omega, $break-large);
  }

  .region_444_first,
  .region_444_second,
  .region_444_third,
  .region_footer_first,
  .region_footer_second,
  .region_footer_third {
    @include span-columns(4, $break-large);
  }
  .region_444_third,
  .region_footer_third {
    @include omega;
  }

  .view-voorpagina-banners {
    .views-row {
      @include span-columns(6, $break-large);
      &:nth-child(2n) {
        @include omega;
      }
    }
  }
  .block-menu-menu-toptaken > ul > li > ul > li {
    margin-right: 15px;
  }

  nav {
    &.main-menu {
      > .container > nav.block-menu,
      .block-dominion-menu,
      .block-system-main-menu {
        ul {
          li {
            a {
              @include font-size(16);
              padding: 15px $gutter-width/2;
            }
            ul {
              top: 46px;
            }
          }
        }
      }
    }
  }
  nav.main-menu .block-quicktabs-alfabet h2.block-title {
    top: 9px;
  }
  #homebox {
    @include container($total-columns, $break-large);
    @include susy-grid-background;
    .homebox-column-wrapper {
      @include span-columns(4, $break-large);
    }
    .homebox-column-wrapper-3 {
      @include omega;
    }
  }
  html:not(.js) nav #quicktabs-container-alfabet .quicktabs-tabpage {
    position: relative;
  }
}
