#header, #footer, #main {
  @extend .clearfix;
}

#main-wrapper {
  @include container;
  padding: 0 !important;
}

#homebox,
.container {
  @include container;
  @include susy-grid-background;
  position: relative;
  padding: 0 $gutter-width/2;
}
.container-nopadding {
  padding: 0 !important;
}

// make sure the first instance of .region_363_third is not displayed by default
// on wider screens this is displayed and the second one (outside the content area) is displayed
// this way we can "move" this region to different positions in the document flow, depending on screen size
//.region_363_third {
//  display: block;
//  #content & {
//    display: none;
//  }
//}
//@include at-breakpoint($break-medium) {
//  .region_363_third {
//    display: none;
//    #content & {
//      display: block;
//    }
//  }
//}

/**
 * Breakpoint small
 */
@include at-breakpoint($break-small) {
  #main-wrapper {
    @include container($total-columns, $break-small);
  }
  .container {
    @include container($total-columns, $break-small);
    @include susy-grid-background;
  }
// content, "rechterkolom"
  #content {
    @include span-columns(4 omega, $break-small);
  }
// eerste sidebar "linkerkolom"
  .region_363_first {
    @include span-columns(2, $break-small);
  }
// tweede sidebar, volle breedte onder de content
  .region_363_third {
    @include span-columns($break-small, $break-small);
  }

// subject page does not have a sidebar, and content section is 100% wide
  .node-type-subject {
    #content {
      @include span-columns($break-small, $break-small);
    }
  }

  .region_meta_first {
  }
  .region_meta_second {
    .block-menu {
      display: block;
    }
  }
  .region_meta_first {
    .block-menu {
      ul.menu {
        display: block;
      }
    }
  }

  .view-voorpagina-banners {
    .views-row {
      @include span-columns(3, 6);
      &:nth-child(2n) {
        @include omega;
      }
    }
  }
  .alleen-mobiel,
  .only-mobile {
    display: none;
  }
//  .block-search {
//    input[type="text"] {
//      width: 200px;
//    }
//  }
  .branding {
    padding: $gutter-width 0;
  }
  .site-name .name {
    display: inline;
  }
  #homebox {
    @include container($total-columns, $break-small);
    @include susy-grid-background;
    .homebox-column-wrapper {
      @include span-columns(2, $break-small);
    }
    .homebox-column-wrapper-3 {
      @include omega;
    }
  }
  .view-updates-display-block_1,
  .block-views-updates-block-1 {
    .views-row {
      .field-intro,
      h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .view-voorpagina-banners {
    .views-row-3,
    .views-row-4 {
      margin-bottom: 0 !important;
    }
  }
  .view {
    .views-row {
      .node {
        .content {
          overflow: hidden;
        }
      }
    }
  }
}

/**
 * Breakpoint medium
 */
@include at-breakpoint($break-medium) {
  #main-wrapper {
    @include container($total-columns, $break-medium);
  }
  .container {
    @include container($total-columns, $break-medium);
    @include susy-grid-background;
  }
// twee regio's boven, gelijk verdeeld
  .region_meta_first {
    @include span-columns(5, 10);
  }
  .region_meta_second {
    @include span-columns(5 omega, 10);
  }
// twee regio's 2/3 en 1/3 breed
  .region_93_first {
    @include span-columns(6, $break-medium);
  }
  .region_93_second {
    @include span-columns(3 omega, $break-medium);
  }
// twee regio's 2/3 en 1/3 breed
  .region_84_first {
    @include span-columns(6, $break-medium);
  }
  .region_84_second {
    @include span-columns(3 omega, $break-medium);
  }
// twee regio's 1/3 en 2/3 verdeeld
  .region_48_first {
    @include span-columns(3, $break-medium);
  }
  .region_48_second {
    @include span-columns(6 omega, $break-medium);
  }
// twee regio's 1/3 en 2/3 verdeeld
  .region_39_first {
    @include span-columns(3, $break-medium);
  }
  .region_39_second {
    @include span-columns(6 omega, $break-medium);
  }
// content, "middenkolom"
  #content {
    @include span-columns(4, $break-medium);
    @include push(2);
  }
// eerste sidebar "linkerkolom"
  .region_363_first {
    @include span-columns(2, $break-medium);
    @include pull(6);
  }
// tweede sidebar "rechterkolom"
  .region_363_third {
    @include span-columns(3 omega, $break-medium);
  }

  // subject page does not have a sidebar, and content section is 100% wide
  .node-type-subject {
    #content {
      @include span-columns($break-medium, $break-medium);
      @include push(0);
    }
  }

  // Toptaken
  .block-menu-menu-toptaken > ul {
    width: columns(2, 6);
  }
  .block-menu-menu-toptaken > ul > li > ul {
    left: columns(2, 6);
    width: columns(4, 6);
    padding-left: $gutter-width;
  }
  .block-menu-menu-toptaken > ul > li > ul > li {
    width: columns(3, 6);
    margin-right: 10px;
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
    a {
      @include border-radius(4px);
      padding: $gutter-width/3 0;
      text-align: center;
      span {
        display: block;
        margin: 0 0 6px 0;
      }
    }
  }
  .quicktabs-tabpage {
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
  }
  .view-voorpagina-banners {
    .views-row {
      @include span-columns(3, 6);
      &:nth-child(2n) {
        @include omega;
      }
    }
  }
  .region_444_first,
  .region_444_second,
  .region_444_third,
  .region_footer_first,
  .region_footer_second,
  .region_footer_third,
  .region_444_2_first,
  .region_444_2_second,
  .region_444_2_third,
  .region_444_3_first,
  .region_444_3_second,
  .region_444_3_third,
  .region_444_4_first,
  .region_444_4_second,
  .region_444_4_third,
  .region_444_5_first,
  .region_444_5_second,
  .region_444_5_third,
  .region_444_6_first,
  .region_444_6_second,
  .region_444_6_third {
    @include span-columns(3, $break-medium);
  }
  .region_444_third,
  .region_footer_third,
  .region_444_2_third,
  .region_444_3_third,
  .region_444_4_third,
  .region_444_5_third,
  .region_444_6_third, {
    @include omega;
  }
  .onderwerpen-toggle,
  .menu-toggle {
    display: none;
  }
  nav {
    &.main-menu {
      > .container > nav.block-menu,
      .block-dominion-menu,
      .block-system-main-menu {
        > ul.menu > li.active-trail,
        > ul.menu > li:hover {
          margin-top: -4px;
          border-top: 4px solid $background-color;
        }
        ul {
          display: block;
          li {
            float: left;
            a {
              @include font-size(14);
              padding: 12px $gutter-width/2;
            }
          }
          ul {
            position: absolute;
            top: 38px;
            max-width: 250px;
            min-width: 194px;
          }
        }
      }
      .block-quicktabs {
        display: block;
        h2.block-title {
          display: block;
        }
      }
      .quicktabs-wrapper .quicktabs-tabs a {
        display: block;
      }
    }
    .quicktabs_main {
      .quicktabs-tabpage {
        @include column-count(3);
        @include border-bottom-radius(4px);
        position: absolute;
      }
    }
  }
  // Submenu-items worden niet opklapbaar op een touch-enabled device
  // consequentie daarvan is dat er javascript nodig is, anders is
  // touch/no-touch niet van elkaar te onderscheiden.
  // De uitgangssituatie (geen javascript, dus onduidelijk of het touch is) is
  // niet opklapbaar.
  html.no-touch .main-menu .block-dominion-menu li:hover ul {
    display: block;
  }
  .block-menu-menu-toptaken > ul > li > ul {
    position: absolute;
  }
  nav.main-menu .block-quicktabs .quicktabs-tabs a {
    padding: 0.75em 8px;
  }
  .block-search {
    position: absolute !important;
    right: $gutter-width;
    top: $gutter-width/2;
    bottom: auto;
    margin: 0 !important;
    padding: $gutter-width/4;
    input[type="text"] {
      @include transition-property(width, background);
      @include transition-duration(450ms);
      width: 286px;
      &:focus  {
        width: 330px;
      }
    }
    input[type="submit"] {
      width: auto;
    }
  }
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  .closed {
    display: block !important;
  }
  .block-views-personen-intranet-block-1,
  .block-views-personen-block-1 {
    .views-row {
      @include span-columns(4, 12);
      &:nth-child(3n) {
        @include omega;
      }
    }
  }
  #homebox {
    @include container($total-columns, $break-medium);
    @include susy-grid-background;
    .homebox-column-wrapper {
      @include span-columns(3, $break-medium);
    }
    .homebox-column-wrapper-3 {
      @include omega;
    }
  }
  .carousel {
    .views-row {
      .views-field-title {
        h2 {
          @include font-size(18);
        }
      }
    }
    .btn_next,
    .btn_prev {
      @include font-size(42);
    }
  }
  nav.block-menu-menu-tabbladen {
    position: absolute;
    bottom: 0;
    right: $gutter-width;
    ul {
      li {
        margin-right: 0;
        margin-left: $gutter-width/2;
        a {
          @include border-top-radius(5px);
          @include border-bottom-radius(0);
          padding: $gutter-width/2 $gutter-width;
        }
      }
    }
  }
}

/**
 * Breakpoint large
 */
@include at-breakpoint($break-large) {
  #main-wrapper {
    @include container($total-columns, $break-large);
  }
  .container {
    @include container($total-columns, $break-large);
    @include susy-grid-background;
  }
// twee regio's boven, gelijk verdeeld
  .region_meta_first {
    @include span-columns(6, $break-large);
  }
  .region_meta_second {
    @include span-columns(6 omega, $break-large);
  }
// twee regio's 2/3 en 1/3 breed
  .region_93_first {
    @include span-columns(8, $break-large);
  }
  .region_93_second {
    @include span-columns(4 omega, $break-large);
  }
// twee regio's 2/3 en 1/3 breed
  .region_84_first {
    @include span-columns(8, $break-large);
  }
  .region_84_second {
    @include span-columns(4 omega, $break-large);
  }
// twee regio's 1/3 en 2/3 verdeeld
  .region_48_first {
    @include span-columns(4, $break-large);
  }
  .region_48_second {
    @include span-columns(8 omega, $break-large);
  }
// twee regio's 1/4 en 3/4 verdeeld
  .region_39_first {
    @include span-columns(3, $break-large);
  }
  .region_39_second {
    @include span-columns(9 omega, $break-large);
  }
// content, "middenkolom"
  #content {
    @include span-columns(6, $break-large);
    @include push(3);
  }
// eerste sidebar "linkerkolom"
  .region_363_first {
    @include span-columns(3, $break-large);
    @include pull(9);
  }
// tweede sidebar "rechterkolom"
  .region_363_third {
    @include span-columns(3 omega, $break-large);
  }

  // subject page does not have a sidebar, and content section is 100% wide
  .node-type-subject {
    #content {
      @include span-columns($break-medium, $break-medium);
      @include push(0);
    }
  }

  .region_444_first,
  .region_444_second,
  .region_444_third,
  .region_footer_first,
  .region_footer_second,
  .region_footer_third,
  .region_444_2_first,
  .region_444_2_second,
  .region_444_2_third,
  .region_444_3_first,
  .region_444_3_second,
  .region_444_3_third,
  .region_444_4_first,
  .region_444_4_second,
  .region_444_4_third,
  .region_444_5_first,
  .region_444_5_second,
  .region_444_5_third,
  .region_444_6_first,
  .region_444_6_second,
  .region_444_6_third {
    @include span-columns(4, $break-large);
  }
  .region_444_third,
  .region_footer_third,
  .region_444_2_third,
  .region_444_3_third,
  .region_444_4_third,
  .region_444_5_third,
  .region_444_6_third  {
    @include omega;
  }

  .view-voorpagina-banners {
    .views-row {
      @include span-columns(6, $break-large);
      &:nth-child(2n) {
        @include omega;
      }
    }
  }
  .block-menu-menu-toptaken > ul > li > ul > li {
    margin-right: 15px;
  }

  nav {
    &.main-menu {
      > .container > nav.block-menu,
      .block-dominion-menu,
      .block-system-main-menu {
        ul {
          li {
            a {
              @include font-size(16);
              padding: 15px $gutter-width/2;
            }
            ul {
              top: 46px;
            }
          }
        }
      }
    }
  }
  nav.main-menu .block-quicktabs h2.block-title {
    top: 9px;
  }
  nav.main-menu .block-quicktabs .quicktabs-tabs a {
    padding: 0.75em 1em;
  }
  #homebox {
    @include container($total-columns, $break-large);
    @include susy-grid-background;
    .homebox-column-wrapper {
      @include span-columns(4, $break-large);
    }
    .homebox-column-wrapper-3 {
      @include omega;
    }
  }
  html:not(.js) nav .quicktabs_main .quicktabs-tabpage {
    position: relative;
  }
}
