.project
.buildpath
.settings/
data/
code/
deploy/
composer.phar
modules/*/vendor
private/
profile/data.sql
gems/

# latex, ignore everything in docs, except .tex and .png files
/docs/**/*.*
!/docs/**/*.tex
!/docs/**/*.png
