.messages {
  margin: $gutter-width;
  @extend .clearfix;
  background-color: #ddff99;
  padding: $gutter-width/2 $gutter-width/2 $gutter-width/2 $gutter-width*2;
  background-image: url('../img/message_status.png');
  background-repeat: no-repeat;
  background-position: $gutter-width/2 $gutter-width/2;
  ul {
    margin: 0 0 0 1em;
    li {
      list-style-type: disc;
    }
  }
  &.error {
    background-color: #F2BFBB;
    background-image: url('../img/message_err.png');
  }
  &.warning {
    background-color: #FDF6BB;
    background-image: url('../img/message_info.png');
  }
}


