#admin-menu {
  ul {
    &:after {
      display: none;
    }
  }
}
.onderwerpen-toggle,
.menu-toggle {
  a {
    @include font-size(15);
    font-family: $heading;
    text-transform: uppercase;
    padding: $gutter-width/2 $gutter-width;
    display: block;
    &:hover {
      text-decoration: none;
    }
    &:before {
      @include icon($reorder);
      padding-right: $gutter-width/3;
    }
  }
}
.onderwerpen-toggle {
  background-color: $background-color;
  a {
    color: $link-dark !important;
  }
}
nav {
  &.main-menu {
    position: relative;
    h2 {
      display: none;
    }
    .block {
      margin-bottom: 0 !important;
    }
    padding: 0;
    margin-bottom: $gutter-width/2;
    > .container > nav.block-menu,
    .block-dominion-menu,
    .block-system-main-menu {
      ul ul ul {
        display: none !important;
      }
      > ul {
//        display: none;
        &.open {
          display: block !important;
        }
      }
      ul {
        list-style: none outside none;
        margin: 0;
        padding: 0 $gutter-width;
        position: relative;
        li {
          margin: 0;
          padding: 0;
          a {
            @include font-size(16);
            font-family: $heading;
            font-weight: 400;
            display: block;
            padding: 15px $gutter-width/2;
            line-height: 1;
            text-decoration: none;
          }
          ul {
            @include border-bottom-radius(6px);
            display: none;
            padding: 0;
            z-index: 150;
            li {
              float: none;
              &.last {
                a {
                  @include border-bottom-radius(6px);
                }
              }
            }
            a {
              @include font-size(13);
              line-height: $line-height;
              padding: $gutter-width/2 $gutter-width;
              &:before {
                font-family: FontAwesome;
                content: "\f105\00a0";
              }
            }
          }
        }
      }
    }

    .block-quicktabs {
      position: relative;
      h2.block-title {
        @include font-size(13);
        font-weight: 400;
        left: $gutter-width*1.5;
        position: absolute;
        top: 9px;
        z-index: 120;
      }
    }
    .close-button {
      float: right;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      width: auto;
      &:focus,
      &:hover,
      &:active {
        text-decoration: none;
      }
      &:after {
        @include icon($remove-sign);
        @include font-size(20);
        color: $gray;
        line-height: 1;
        margin-top:  $line-height*-.25em;
        padding-left: $line-height*.25em;
      }
    }
    .quicktabs-wrapper {
      background-color: $background-color;
      position: relative;
      z-index: 110;
      ul {
        margin: 0;
      }
    }
    .quicktabs-tabs {
      display: block;
      padding: 0;
      position: relative;
      li {
        display: block;
        margin: 0;
        padding: 0;
        white-space: normal;
      }
      a {
        @include font-size(13);
        color: $text-color;
        display: none;
        font-family: $heading;
        font-weight: 400;
        line-height: 1;
        padding: $gutter-width/2 $gutter-width;
      }
    }
    .quicktabs-tabpage {
      &.open {
        display: block;
        a {
          display: block;
        }
      }
      .menu {
        padding-left: 0;
      }
      .contextual-links-wrapper {
        a:focus,
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

body.front {
  nav {
    &.main-menu {
      margin-bottom: $gutter-width/2;
    }
  }
}
.region_meta_first,
.region_meta_second {
  .block-dominion-menu, .block-menu {
    overflow: hidden;
    margin: 0 !important;
    &.contextual-links-region {
	    overflow: visible;
    }
    h2 {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        margin: 0;
        padding: 0;
        a {
          @include font-size(12);
          display: block;
          padding: $gutter-width/2 0.35em 0;
          color: #535353;
          &.first {
            padding-left: 0;
          }
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
.region_meta_first {
  .block-menu {
    ul.menu {
      display: none;
    }
  }
}
.region_meta_second {
  .block-menu {
    display: none;
    ul {
      float: right
    }
  }
}
.breadcrumbs {
  @include font-size(11);
  margin: $gutter-width/2 $gutter-width 0 $gutter-width*1.5;
  color: lighten($gray, 30%);
  float: left;
  .active,
  a {
    color: $gray !important;
  }
}
.main {
  .block-block {
    ul.menu {
      margin: 0;
    }
  }
}
.block-submenutree {
  h2.block-title {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      background-color: lighten($background-color, 7%);
      border-top: 1px solid lighten($background-color, 100%);
      a {
        padding: $gutter-width/3 $gutter-width/2;
        display: block;
      }
      ul {
        > li {
          background-color: lighten($background-color, 9%);
          a {
            padding-left: $gutter-width*1.5;
          }
        }
      }
    }
    a {
      &:before {
        font-family: FontAwesome;
        content: "\f105\00a0";
      }
      &:hover {
        background-color: lighten($background-color, 4%);
      }
      &.active,
      &.active-trail {
        color: $link-dark !important;
        font-weight: 700;
      }
    }
  }
}
nav.block-menu-menu-tabbladen {
  .block-title {
    display: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      line-height: 1;
      margin-right: $gutter-width/2;
      a {
        @include border-top-radius(5px);
        @include border-bottom-radius(0);
        background-color: get_env_color('dcolorlight', $azure-light);
        display: inline-block;
        font-family: $heading;
        padding: 8px 6px;
        text-decoration: none;
        &:link {
          color: darken($link-colour, 10%);
        }
        &:focus,
        &:hover {
          background-color: get_env_color('dcolor', $azure);
          color: get_env_color('dlinkcolor', $link-light);
        }
      }
    }
  }
}
