#admin-menu {
  ul {
    &:after {
      display: none;
    }
  }
}

nav {
  &.main-menu {
    padding: 2.8em 0 0;
    margin-bottom: $gutter-width;
    ul {
      list-style: none outside none;
      margin: 0;
      padding: 0 $gutter-width;
      li {
        float: left;
        margin: 0;
        padding: 0;
        a {
          @include font-size(12);
          font-family: $arial;
          font-weight: bold;
          display: block;
          padding: 0.5em 1em;
          line-height: 1;
        }
      }
    }
  }
}

.region_meta_first,
.region_meta_second {
  .block-menu {
    overflow: hidden;
    h2 {
      display: none;
    }
    ul {
      margin: 4px 0;
      padding: 0;
      li {
        float: left;
        margin: 0;
        padding: 0;
        a {
          display: block;
          padding: 0.25em 0.5em;
          color: #535353;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
.region_meta_second {
  .block-menu {
    ul {
      float: right
    }
  }
}
