.node {
  margin: 0 0 $gutter-width 0;
  .content {
    a {
      text-decoration: underline;
    }
    #{headings()} {
      color: get_env_color('dheadingcolor', $azure);
      [role="contentinfo"] & {
        color: get_env_color('dheadingcolor', $hover);
      }
    }

  }

  &.view-mode-short-teaser,
  &.view-mode-teaser {
//    overflow: hidden;
    .day-month-year {
      &:after {
        content: " \2014";
      }
    }
    h2 {
      @include font-size(16);
      margin-top: 0;
      margin-bottom: 0;
      line-height: $line-height;
    }
    .field-wrapper-field-intro,
    .field-intro {
      display: inline;
      p {
        display: inline;
      }
    }
  }
  &.view-mode-short-teaser .day-month-year {
    font-weight: bold;
  }

  &.view-mode-full {
    time {
      background-color: lighten($background-color, 7%);
      border-top: 1px solid $background-color;
      display: block;
      margin-bottom: 1em;
      padding: $gutter-width/3 $gutter-width/2;
    }
    .field-intro {
      font-weight: bold;
      margin-bottom: 1em;
    }
    .field-image {
      margin-bottom: $gutter-width/2;
    }
    .field-wrapper-field-location .field-label,
    h3.field-label {
      @include font-size(14);
      padding: $gutter-width/2;
      background-color: lighten($background-color, 7%);
      border-top: 1px solid $background-color;
      color: $text-color;
    }
    .field-tags {
	    display: inline;
    }
    .field-wrapper-field-location .field-label {
      font-family: $heading;
      display: block;
      line-height: 1;
      margin-bottom: 0.75em;
      margin-top: 1.25em;
    }
    .field-wrapper {
      margin-bottom: $gutter-width;
    }
    .field-body {
      @extend .clearfix;
      img {
        margin-bottom: $gutter-width/2;
// in twee stappen omdat ckeditor een spatie toevoegt in de style-attribuut (e.g. "float: left"), maar drupal aggregatie spaties uit css verwijdert
        &[style*="float:"] {
          &[style*="left;"] {
            margin-right: $gutter-width/2;
          }
          &[style*="right;"] {
            margin-left: $gutter-width/2;
          }
        }
      }
    }
    .ris-attachments {
      margin-top: $gutter-width/2;
      h3 {
        display: none;
      }
    }
    .field-ris-agendaitems {
      margin-bottom: $gutter-width/2;
      padding-bottom: $gutter-width/2;
      border-bottom: 1px solid lighten($background-color, 7%);
      font-weight: 700;
      &:last-child {
        margin-bottom: 0;
        border: 0;
      }
    }
    .field-ris-attachments {
      padding-left: $gutter-width;
      margin-bottom: 6px;
      font-weight: 400;
      .file-icon {
        margin-top: -2px;
      }
    }
  }
  #{headings()} {
    margin-bottom: 0.75em;
    margin-top: 1.25em;
  }
}

.block-node {
  .node {
    h2 {
      display: none;
    }
  }
}
.date-display-start,
.date-display-end {
  font-weight: 700;
}

.view-mode-search-result {
  .field-image {
    float: right;
    margin-left: $gutter-width;
    img {
      @include border-radius(50%);
    }
  }
}

span.mailto {
	width: 10px;
	height: 10px;
}

.comment-count {
  color: $gray;
  clear: both;

  &:before {
    color: $background-color;
    @include icon($comment);
  }
}
