.ui-tabs {
  padding: 0;
  .ui-tabs-nav {
    border-bottom: 2px solid;
    padding: 0;
    li {
      @include border-top-radius(4px);
      display: block;
      float: left;
      top: auto;
      margin: 0 2px 0 0 !important;
      padding: 0 !important;
      a {
        @include font-size(14);
        font-family: $heading;
        text-decoration: none;
        font-weight: bold;
        padding: 0.5em 1em;
        display: block;
        color: $link-dark;
      }
    }
  }
  .ui-tabs-panel {
    padding: $gutter-width/2 0 0 0;
  }
}

.node {
  .content {
    .quicktabs-wrapper {
      margin-top: $gutter-width;
      ul.quicktabs-tabs {
        margin: 0 0 $gutter-width/2 0;
        padding: 0;
        overflow: hidden;
        li {
          float: left;
          a {
            @include border-radius(2px);
            line-height: 1;
            display: block;
            margin-right: $gutter-width/4;
            margin-bottom: $gutter-width/4;
            padding: $gutter-width/2 $gutter-width/2;
            color: $link-dark;
            text-decoration: none;
          }
        }
      }
    }
  }
}
