//.block-search, .search-form {
//  text-align: center;
//  .container-inline {
//    @extend .clearfix;
//    @extend .inline-block;
//    position: relative;
//    width: 100%;
//    max-width: 320px;
//  }
//  input.form-text {
//    float: left;
//    height: 32px;
//    padding-right: 36px;
//    width: 100%;
//  }
//  input.form-submit {
//    background: inherit url("../img/icon/search.png") no-repeat 50% 50%;
//    @include reset-box-model;
//    @extend .hide-text;
//    border: none;
//    height: 32px;
//    width: 32px;
//    position: absolute;
//    top: 0;
//    right: 0;
//    z-index: 1;
//    &:hover, &:focus, &:active {
//      border: none;
//      cursor: pointer;
//    }
//  }
//}
//
//.search-form input.form-submit {
//  top: 1.231em;
//}
.block-search {
  @include border-radius(4px);
  position: absolute !important;
  right: $gutter-width;
  bottom: $gutter-width;
  margin: 0 !important;
  padding: 5px;
  input[type="submit"],
  input[type="text"] {
    @include font-size(14);
    padding: 6px;
    font-family: $heading;
  }
  input[type="text"] {
    @include transition-property(width);
    @include transition-duration(450ms);
    @include border-left-radius(4px);
    border-right: 0;
    width: 286px;
    &:focus  {
      width: 320px;
    }
  }
  input[type="submit"] {

    @include border-right-radius(4px);
  }
}
