//.block-search, .search-form {
//  text-align: center;
//  .container-inline {
//    @extend .clearfix;
//    @extend .inline-block;
//    position: relative;
//    width: 100%;
//    max-width: 320px;
//  }
//  input.form-text {
//    float: left;
//    height: 32px;
//    padding-right: 36px;
//    width: 100%;
//  }
//  input.form-submit {
//    background: inherit url("../img/icon/search.png") no-repeat 50% 50%;
//    @include reset-box-model;
//    @extend .hide-text;
//    border: none;
//    height: 32px;
//    width: 32px;
//    position: absolute;
//    top: 0;
//    right: 0;
//    z-index: 1;
//    &:hover, &:focus, &:active {
//      border: none;
//      cursor: pointer;
//    }
//  }
//}
//
//.search-form input.form-submit {
//  top: 1.231em;
//}

#search-form {
  overflow: hidden;
  input[type="submit"],
  input[type="text"] {
    @include font-size(14);
    padding: 6px;
    font-family: $heading;
  }
  label {
    margin-right: $gutter-width/2;
  }
  input[type="text"] {
    @include transition-property(width, background);
    @include transition-duration(450ms);
    @include border-left-radius(4px);
    border-right: 0;
    width: 400px;
    &:focus  {
      @include background-image(linear-gradient(#eee, #fff));
    }
  }
  .form-item {
    float: left;
    display: block;
    margin: 0;
  }
}

.block-search {
  position: absolute !important;
  top: $gutter-width/2;
  right: $gutter-width/2;
  text-align: center;
  @include border-radius(4px);
  margin-bottom: $gutter-width/2;
  padding: 2px;
  input[type="submit"],
  input[type="text"] {
    @include font-size(14);
    padding: 6px;
    font-family: $heading;
  }
  input[type="text"] {
    @include border-left-radius(4px);
    border-right: 0;
    width: 100px;
    &:focus  {
      @include background-image(linear-gradient(#eee, #fff));
    }
  }
  input[type="submit"] {
    @include border-right-radius(4px);
  }
}

.search-snippet strong {
  color: #000;
  background: #FF0;
}

.facetapi-facetapi-links {
  margin: 0 $gutter-width/2;
  padding: 0;
  li {
    list-style: none;
    border-bottom: 1px solid $background-color;
    margin-bottom: $gutter-width/2;
    padding-bottom: $gutter-width/2;
    &:last-child {
      border: 0;
    }
    a {
      @include font-size(16);
      font-family: $heading;
    }
  }
}
