.view {
  .views-rows,
  .item-list {
    margin-bottom: $gutter-width/2;
  }
  .views-row {
    overflow: hidden;
    margin-bottom: $gutter-width/2;
    padding-bottom: $gutter-width/2;
    border-bottom: 1px solid lighten($background-color, 5%);
    &:last-child {
      border: 0 !important;
    }
    time {
      font-weight: 700;
    }
    h3, h4 {
      line-height: $line-height;
      margin-top: 0;
      margin-bottom: 0;
    }
    .node {
      margin: 0;
      .field-image {
        float: left;
        margin-right: $gutter-width/2;
        margin-top: 5px;
      }
    }
  }
  .view-faq-display-attachment_1 {
    margin-bottom: $gutter-width;
  }
  &.carousel {
    margin: 0 !important;
  }
}

.view-nieuws-display-block_3,
.view-weblog {
  .field-image {
    float: left;
    margin-right: $gutter-width/2;
  }
}

.view-voorpagina-banners {
  overflow: hidden;
  margin: 0 !important;
  .views-row {
    position: relative;
    margin-bottom: $gutter-width !important;
    padding: 0 !important;
    border-bottom: 0 !important;
    .views-field-title {
      @include rgba-background-inline(rgba(0,0,0,0.6));
      width: 100%;
      position: absolute;
      bottom: 0;
      h3 {
        @include font-size(16);
        color: #fff;
        margin: 0;
        padding: $gutter-width/3 $gutter-width/2;
        line-height: $line-height;
        a {
          color: #fff;
        }
      }
    }
  }
  .views-row-4 {
    margin-bottom: 0 !important;
  }
}

// agenda block heeft alleen een titel en datum veld
// teasers hebben een titel en een datum veld met optioneel een afbeelding en
// een intro
// views met teasers
.agenda.view-mode-teaser,
// views met velden
.block-views-agenda-team-block-2,
.view-updates-display-block_1,
// .block-views-updates-block-1 is niet nodig, want
// .view-updates-display-block_1 wordt daarbinnen ook gebruikt, binnen homebox
// wordt alleen .view-updates-display-block_1 gebruikt
// voor cascading risico's staat ie hier nog
.block-views-updates-block-1,
.view-agenda-display-block_2 {
  .views-field-changed,
  .field-date .date-display-single {
    @include transition-property(background);
    @include transition-duration(150ms);
    @include border-radius(2px);
    background-color: #fff;
    border: 1px solid $background-color;
    position: relative;
    font-family: $heading;
    width: 40px;
    height: 46px;
    // float: left;
    font-weight: 400;
    margin-right: 0.5em;
    display: block;
    z-index: 1;
    .month, .day {
      position: absolute;
      width: 100%;
      text-align: center;
      line-height: 1;
    }
    .month {
      @include font-size(12);
      bottom: 4px;
    }
    .day {
      @include font-size(20);
      top: 3px;
    }
  }
  .views-row {
    overflow: hidden;
    .update-info .field-intro,
    h3 {
      box-sizing: border-box;
      float: right;
      padding-left: 48px;
      width: 100%;
    }
    &:hover {
      .views-field-changed,
      .field-date .date-display-single {
        background-color: lighten($background-color, 7%);
      }
    }
  }
}
// Alleen agenda-items hebben het datum-blokje absoluut gepositioneerd
// Bij updates zijn de titel en het intro naar rechts gefloat en is de volgorde
// van de velden dus anders!
// TODO: Geef alle velden in de views dezelfde volgorde en class, dan kan het
// met minder css selectors en voor alle displays op dezelfde manier.
.agenda {
  .block-views-agenda-team-block-2 &,
  .view-updates-display-block_1 &,
  &.view-mode-teaser {
    position: relative;
    min-height: 4em;
    h2 {
      padding-left: 48px;
    }
    .field-date .date-display-single {
      left: 0;
      position: absolute;
      top: 0;
    }
    .field-intro {
      display: block;
      padding-left: 48px;
    }
    &.has-image {
      min-height: 110px;
      h2 {
        padding-left: 110px;
      }
      .field-date .date-display-single {
        top: 5px;
        left: 5px;
      }
      .field-intro {
        padding-left: 110px;
      }
      .field-image {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
      }
    }
  }
}

.block-views-updates-block-1 {
  .views-row {
    margin-bottom: $gutter-width/2;
  }
}

.view-updates {
  .views-row {
    position: relative;
    &:last-child {
      padding: 0;
      margin: 0;
      border: 0;
    }
    .views-field-extension {
      text-transform: uppercase;
      font-weight: 700;
    }
    .views-field-filesize {
      @include font-size(12);
      color: $gray;
    }
    .views-field-type,
    .field-tags,
    .field-category-marketplace,
    .field-faq-category {
      @include font-size(12);
      @include border-radius(4px);
      background-color: lighten($background-color, 7%);
      padding: 4px 6px;
      line-height: 1;
      float: left;
      margin-right: $gutter-width/4;
      margin-top: $gutter-width/4;
      color: lighten($text-color, 25%);
    }
    .field-tags,
    .field-category-marketplace,
    .field-faq-category {
      &:before {
        @include icon($tag);
        color: lighten($text-color, 50%);
      }
    }
    .views-field-type {
      &:before {
        @include icon($file);
        color: lighten($text-color, 50%);
      }
      //color: lighten($background-color, 7%);
      //background-color: transparent;
    }
    .update-info {
      overflow: hidden;
    }
  }
}

.block-views-personen-intranet-block-1,
.block-views-personen-block-1 {
  background-color: lighten($background-color, 7%);
  padding: 0;
  h2.block-title {
    padding: $gutter-width/2 $gutter-width !important;
  }
  .view-personen-intranet {
    overflow: hidden;
    margin: 0 $gutter-width !important;
  }
  .views-row {
    border: 0;
    min-height: 150px;
    .views-field-picture {
      float: left;
      margin-right: $gutter-width;
    }
    img {
      @include border-radius(50%);
    }
    span {
      font-weight: 700;
    }
    .field {
      display: inline;
    }
  }
}
.block-views-personen-block-2 {
  .views-rows {
    overflow: hidden;
    border-bottom: 1px solid lighten($background-color, 5%);
    .views-row {
      min-height: 130px;
      position: relative;
      h2 {
        @include font-size(16);
        margin: 0 0 $gutter-width/4 0;
        padding-left: 120px + $gutter-width/2;
      }
      img {
        @include border-radius(50%);
        left: 0;
        position: absolute;
        top: 0;
      }
      .field-image {
        float: left;
        margin-right: $gutter-width/2;
      }
      .field-body {
        margin-left: 120px + $gutter-width/2;
      }
    }
  }
  h3 {
    margin-bottom: $gutter-width;
  }
}

.view-weblog-display-block {
  .field-image {
    margin-bottom: $gutter-width/2;
    margin-top: 5px;
  }
}

.view-bestanden {
  .views-row {
    .views-field-extension {
      @include transition-property(background);
      @include transition-duration(150ms);
      @include border-radius(2px);
      @include font-size(14);
      background-color: #fff;
      font-weight: 700;
      border: 1px solid $background-color;
      position: relative;
      font-family: $heading;
      width: 50px;
      padding: $gutter-width/2 0;
      float: left;
      margin-right: 0.5em;
      z-index: 1;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
    }
    .views-field-filesize {
      @include font-size(12);
      color: $gray;
    }
    &:hover {
      .views-field-extension {
        background-color: lighten($background-color, 7%);
      }
    }
  }
}

.view-veelgestelde-vragen {
  .item-list {
    border-bottom: 1px solid $background-color;
    margin-bottom: $gutter-width/2;
    padding-bottom: $gutter-width/2;
  }
}
.block-views {
  .view-veelgestelde-vragen {
    .item-list {
      border: 0;
      padding: 0;
    }
  }
}
.view-foto_album-display-page {
  .views-rows {
    overflow: hidden;
    .views-row {
      float: left;
      margin: 0 $gutter-width/2;
      border: 0;
      width: 100px;

      .views-field-title {
        height: 41px;
      }
    }
  }
}
#views-exposed-form-announcements-page {
  padding: 0 $gutter-width/2;
  .form-item {
    margin: 0 0 $gutter-width/2 0;
  }
  input[type="text"] {
    width: 100%;
  }
}
.view-announcements {
  .gmap {
    margin-bottom: $gutter-width;
  }
}
#views-exposed-form-spatial-plans-page {
  padding: 0 $gutter-width/2;
  .form-item {
    margin: 0 0 $gutter-width/2 0;
  }
  input[type="text"] {
    width: 100%;
  }
}
.view-spatial-plans {
  .gmap {
    margin-bottom: $gutter-width;
  }
}
.view-profiel {
  .field {
    @include font-size(14);
    font-family: $heading;
    margin-bottom: $gutter-width/2;
    padding-bottom: $gutter-width/2;
    border-bottom: 1px solid lighten($background-color, 5%);
    &:last-child {
      border-bottom: 0;
    }
  }
}
.view-veelgestelde_vragen-display-attachment_1 {
  margin-top: $gutter-width;
}
