.view {
  .views-row {
    overflow: hidden;
    margin-bottom: $gutter-width/2;
    padding-bottom: $gutter-width/2;
    border-bottom: 1px solid lighten($background-color, 5%);
    time {
      font-weight: 700;
    }
    h3 {
      line-height: $line-height;
      margin-top: 0;
    }
    .node {
      margin: 0;
      .field-image {
        float: left;
        margin-right: $gutter-width/2;
        margin-top: 5px;
      }
    }
  }
  .more-link {
    margin-top: $gutter-width/4;
  }
  .view-faq-display-attachment_1 {
    margin-bottom: $gutter-width;
  }
}

.view-nieuws-display-block_3,
.view-weblog {
  .field-image {
    float: left;
    margin-right: $gutter-width/2;
  }
}

.view-voorpagina-banners {
  .views-row {
    position: relative;
    float: left;
    margin-bottom: $gutter-width !important;
    padding: 0 !important;
    border-bottom: 0 !important;
    &:nth-child(2n) {
      margin-left: 19px;
    }
    .views-field-title {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      position: absolute;
      bottom: 0;
      h3 {
        @include font-size(16);
        color: #fff;
        margin: 0;
        padding: $gutter-width/3 $gutter-width/2;
        line-height: $line-height;
        a {
          color: #fff;
        }
      }
    }
  }
  .views-row-3,
  .views-row-4 {
    margin-bottom: 0 !important;
  }
}

.block-views-updates-block-1,
.view-agenda-display-block_1,
.view-agenda-display-block_2 {
  .views-row {
    overflow: hidden;
    .views-field-changed,
    .field-date .date-display-single {
      @include transition-property(background);
      @include transition-duration(150ms);
      @include border-radius(2px);
      background-color: #fff;
      border: 1px solid $background-color;
      position: relative;
      font-family: $heading;
      width: 40px;
      height: 46px;
      float: left;
      font-weight: 300;
      margin-right: 0.5em;
      display: block;
      z-index: 1;
      .month, .day {
        position: absolute;
        width: 100%;
        text-align: center;
        line-height: 1;
      }
      .month {
        @include font-size(12);
        bottom: 4px;
      }
      .day {
        @include font-size(20);
        top: 3px;
      }
    }
    &:hover {
      .views-field-changed,
      .field-date .date-display-single {
        background-color: $background-color;
      }
    }
  }
}
.block-views-updates-block-1 {
  .views-row {
    .field-intro,
    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.block-views-updates-block-1 {
  .views-row {
    margin-bottom: $gutter-width/2;
  }
}

.view-agenda-display-block_1 {
  .has-image {
    position: relative;
    .field-date .date-display-single {
      position: absolute;
      top: 10px;
      left: 5px;
    }
  }
}

.view-updates {
  .views-row {
    position: relative;
    &:last-child {
      padding: 0;
      margin: 0;
      border: 0;
    }
    .views-field-extension {
      text-transform: uppercase;
      font-weight: 700;
    }
    .views-field-filesize {
      @include font-size(12);
      color: $gray;
    }
  }
}

.block-views-personen-block-1 {
  background-color: lighten($background-color, 7%);
  @include container();
  padding: 0;
  h2.block-title {
    padding: $gutter-width/2 $gutter-width !important;
  }
  .views-row {
    @include span-columns(4, 12);
    border: 0;
    &:nth-child(3n) {
      @include omega;
    }
  }
}

.view-weblog-display-block {
  .field-image {
    margin-bottom: $gutter-width/2;
    margin-top: 5px;
  }
}

.view-bestanden {
  .views-row {
    .views-field-extension {
      @include transition-property(background);
      @include transition-duration(150ms);
      @include border-radius(2px);
      @include font-size(14);
      background-color: #fff;
      font-weight: 700;
      border: 1px solid $background-color;
      position: relative;
      font-family: $heading;
      width: 50px;
      padding: $gutter-width/2 0;
      float: left;
      margin-right: 0.5em;
      z-index: 1;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
    }
    .views-field-filesize {
      @include font-size(12);
      color: $gray;
    }
    &:hover {
      .views-field-extension {
        background-color: $background-color;
      }
    }
  }
}
