// Compass
//------------------------------------------------------------------------------

$experimental-support-for-khtml: false !default;
$legacy-support-for-ie: true;

// Type
//------------------------------------------------------------------------------

$base-font-size: 16 !default;
$line-height: 1.5;

$arial: Arial, sans-serif;
//$helvetica: Helvetica, arial, sans-serif;
$verdana: Verdana, sans-serif;
$georgia: Georgia, sans-serif;
$monaco: Monaco, monospace, serif;

//$sans-serif: Verdana, Arial, sans-serif;
$heading: "Droid Sans", Arial, sans-serif;
$body: "Droid Sans", Arial, sans-serif;
//$serif: $georgia;
$monospace: $monaco;

// Colors
//------------------------------------------------------------------------------

$gray: #888888;
$border: #d7d7d7;
$border-tabs: $border;
$error: #cc0000;
$text-color: #333;
$background-color: #dddddd;

// Rijkshuisstijl colors
$dark-brown: #623327;
$dark-brown-light: #D1C1BE;

$purple: #42145f;
$purple-light: #C6B8CF;

$dark-green: #275937;
$dark-green-light: #BECDC3;

$ruby: #ca005a;
$ruby-light: #F2BFBB;

$red: #d52b1e;
$red-light: #F2BFBB;

$violet: #a90061;
$violet-light: #E5B2CF;

$moss-green: #777c00;
$moss-green-light: #D6D7B2;

$brown: #94710a;
$brown-light: #DFD4B5;

$green: #39870c;
$green-light: #C3DBB6;

$azure: #007bc7;
$azure-light: #B2D7EE;

$light-blue: #8fcae7;
$light-blue-light: #DDEFF8;

$pink: #f092cd;
$pink-light: #FADEF0;

$yellow: #f9e11e;
$yellow-light: #FDF6BB;

$dark-yellow: #ffb612;
$dark-yellow-light: #FFE9B7;

$mint-green: #76d2b6;
$mint-green-light: #D6F1E9;

$orange: #e17000;
$orange-light: #F6D4B2;

$link-colour:$azure !default;
$link-light: #fff;
$link-dark: #000;
$hover: darken($link-colour, 10%);
$active: lighten($link-colour, 10%);
$visited: lighten($link-colour, 5%);
$focus: darken($link-colour, 10%);

// Grid
//------------------------------------------------------------------------------

$container-style: magic;
$container-width: 1200px;
$total-columns: 12 !default;
$column-width: 72px !default;
$gutter-width: 20px !default;
$grid-padding: 20px !default;
$show-grid-backgrounds: false !default;
