@import "libraries/normalize/normalize";
@import "base-theme";
@import "drupal/system";

// Box Sizing with Polyfill
//------------------------------------------------------------------------------

* {
  @include box-sizing(border-box);
  //behavior: url("http://yoursite.com/sites/all/themes/base/lib/box-sizing/boxsizing.htc")
}

// General
//------------------------------------------------------------------------------

.visuallyhidden {
  @extend .visually-hidden;
}

img {
  height: auto;
  // Need to hack in an IE8 fix here.
  // @see http://www.456bereastreet.com/archive/201202/using_max-width_on_images_can_make_them_disappear_in_ie8/
  max-width: 100%;
  vertical-align: middle;
  // Prevent max-width from affecting Google Maps (from Twitter Bootstrap).
  #map_canvas & {
    max-width: none;
  }
}

ul, ol {
  &, nav & {
    @extend .clearfix;
    list-style: none;
    padding: 0;
  }
}
.item-list {
  ul/*, ol*/ {
    margin: 0;
    //list-style-type: square;
    //padding: 0 0 0 $gutter-width;
    li {
      background: url("../img/arrows.png") no-repeat scroll left 5px transparent;
      margin-bottom: 0.5em;
      padding-left: 11px;
    }
  }
}
