#main-wrapper {
  outline: 2px solid #e6e8e9;
}
.form-text {
  max-width: none !important;
}


.view-voorpagina-banners {
  background-color: yellow !important;
  .views-row {
    background-color: cyan !important;

    margin: 0 1% 5px 0 !important;
    padding: 0 !important;
    width: 48% !important;
  }
}

.view-updates-display-block_1,
.block-views-updates-block-1 {
  .views-row {
    .update-info {
      white-space: nowrap;
    }
    .field-intro,
    h3 {
      display: inline !important;
    }
  }
}
