@import "base-theme";

@import "layout/default";
@import "general/forms";
@import "drupal/messages";
@import "drupal/tabs";
@import "drupal/pagers";
@import "drupal/search";
@import "drupal/navigation";

@import "general/felix";
@import "general/colors";

@import "global";

// General
//---------------------------------------------------------------------------

html {
  @include base-font-size;
}

body {
  font-family: $sans-serif;
  @include font-size(11);
  line-height: $line-height;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  background-color: $background-color;
  color: $text-color;
}

pre, code, kbd, samp {
  font-family: $monospace;
  @include font-size(11);
}
:focus { outline: 0.2em solid blue; }
a {
  @include link-colors($link, $hover, $active);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Tables
//---------------------------------------------------------------------------
table {
  width: 100%;
}

table, td, th {
  border: solid 1px $border;
  border-width: 1px 0 0 1px;
}

thead {
  background-color: whitesmoke;
}

td, th {
  border-width: 0 1px 1px 0;
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

th {
  border-color: #dddddd;
}

td {
  border-color: $border;
}

// Headings
//---------------------------------------------------------------------------

#{headings()} {
  font-family: $heading;
  font-weight: 400;
  line-height: 1;
  padding: 0;
  margin-bottom: 0.75em;
  margin-top: 1.25em;
}

h1 {
  @include font-size(22);
}

h2 {
  @include font-size(15);
}

h3 {
  @include font-size(12);
  font-weight: bold;
}

h4 {
  @include font-size(11);
  font-weight: bold;
}

h5 {
  @include font-size(11);
  font-weight: bold;
}

h6 {
  @include font-size(11);
  font-weight: bold;
}

// Lists
//---------------------------------------------------------------------------

dt {
  @extend h4;
  margin-top: 1em;
}

// Content
//---------------------------------------------------------------------------

.submitted {
  color: $gray;
  margin: 1em 0;
}

article {
  margin: 0 0 40px 0;
}

p {
  //margin: 1.25em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// Admin
//---------------------------------------------------------------------------

#toolbar-home {
  float: left;
}

#main-wrapper {
  @include box-shadow(0 0 8px #c8cacb);
  //outline: 4px solid #e6e8e9;
  background-color: #fff;
  //margin-top: $grid-padding*2;
  margin-bottom: $grid-padding*2;
}
.admin-menu {
  #main-wrapper {
    //margin-top: $grid-padding*2 + 20px;
  }
}
.site-name {
  padding: 0;
  margin: 0;
}
.branding {
  padding: $gutter-width 0;
}
article {
  overflow: hidden;
  margin: 0 0 $gutter-width 0;
  padding: 0 0 $gutter-width 0;
  &.view-mode-teaser {
    h2 {
      margin-top: 0;
    }
  }
  &.view-mode-full {
    .field-intro {
      font-weight: bold;
      margin-bottom: 1em;
    }
  }
  .field-image {
    margin-bottom: $gutter-width;
  }
}
.view {
  article {
    border-bottom: 1px solid $border;
    &:last-child {
      border: 0;
    }
    .field-image {
      float: left;
      margin-right: $gutter-width;
    }
    .content {
      overflow: hidden;
    }
  }
}
.block-node {
  article {
    h2 {
      display: none;
    }
  }
}
