.carousel {
  .views-row {
    float: left;
    display: block;
    position: relative;
    margin-bottom: 0;
    .views-field-title {
      position: absolute;
      bottom: 0;
      //background-image: url("../img/transparant-75.png");
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      width: 100%;
      h2 {
        margin: 0;
        padding: $gutter-width/2 $gutter-width/2;
        line-height: $line-height;
      }
    }
  }
  .progress {
    height: 2px;
  }
  .pager {
    top: $gutter-width/2;
    left: $gutter-width/2;
    position: absolute;
    text-align: center;
    a {
      color: $link-dark;
      line-height: 1;
      span {
        @include border-radius(2px);
        display: block;
        padding: 8px;
      }
    }
  }
  .btn_next,
  .btn_prev {
    @include text-shadow(0 0 6px rgba(0, 0, 0, 0.2));
    @include font-size(48);
    text-decoration: none;
    position: absolute;
    top: 70px;
    color: $link-light;
    line-height: 1;
  }
  .btn_next {
    right: $gutter-width;
  }
  .btn_prev {
    left: $gutter-width;
  }
}
