.caroufredsel_wrapper {
  margin: 0 !important;
}
.carousel {
  position: relative;
  .views-row {
    float: left;
    display: block;
    position: relative;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    .views-field-title {
      @include rgba-background-inline(rgba(0,0,0,0.6));
      position: absolute;
      bottom: 0;
      color: #fff;
      width: 100%;
      h2 {
        @include font-size(13);
        margin: 0;
        padding: $gutter-width/3 $gutter-width/2;
        line-height: $line-height;
        a {
          color: $link-light;
        }
      }
    }
  }
  .progress {
    height: 2px;
// overwrite the style-attribute, calculated by carouFredSel
// in case there is only one item in the carousel
    max-width: 100% !important;
  }
  .pager {
    top: $gutter-width/2;
    left: $gutter-width/2;
    position: absolute;
    text-align: center;
    a {
      color: $link-dark;
      line-height: 1;
      span {
        @include border-radius(2px);
        display: block;
        padding: 8px;
      }
    }
  }
  .btn_next,
  .btn_prev {
    @include text-shadow(0 0 6px rgba(0, 0, 0, 0.2));
    @include font-size(24);
    text-decoration: none;
    position: absolute;
    top: $gutter-width/2;
    color: $link-light;
    line-height: 1;
  }
  .btn_next {
    right: $gutter-width/2;
  }
  .btn_prev {
    left: $gutter-width/2;
  }
}
