/**
 * Setup the color values from the environment and provide defaults if they are not set.
 */
$colour: get_env_color('dcolor', $azure);
$colourlight: get_env_color('dcolorlight', $azure-light);
$linkcolor: get_env_color('dlinkcolor', $link-light);
$background-color: get_env_color('dbackgroundcolor', #dddddd);

$toptakencolour: get_env_color('dtoptakencolor', $azure);
$headingcolour: get_env_color('dheadingcolor', #333);
$buttoncolour: get_env_color('dbuttoncolor', $azure);

body {
  a {
    @include link-colors($colour, darken($colour, 10%), darken($colour, 20%));
  }
  [role="contentinfo"] a {
    @include link-colors(darken($colour, 10%), darken($colour, 20%), darken($colour, 30%));
  }
  #main {
    input[type="submit"] {
      background-color: $buttoncolour;
      @include background-image(linear-gradient($buttoncolour, darken($buttoncolour, 7%)));
      box-shadow: lighten($buttoncolour, 35%) 0 1px 0 inset;
      border: 1px solid darken($buttoncolour, 10%);
      color: $linkcolor;
      &:hover, &:focus {
        background-color: darken($buttoncolour, 3%);
        @include background-image(linear-gradient(darken($buttoncolour, 3%), darken($buttoncolour, 10%)));
      }
      &:active {
        background-color: darken($buttoncolour, 7%);
        @include background-image(linear-gradient(darken($buttoncolour, 7%), $buttoncolour));
      }
    }
    //.region_363_first,
    //.region_363_third,
    //.region_93_second,
    //.region_39_first {
      .block {
        h2.block-title {
          background-color: lighten($background-color, 7%);
          border-top: 1px solid $background-color;
        }
      }
    //}
  }
  .poll .bar .foreground {
    background-color: $colour;
  }
  .block-search {
    background-color: $colourlight;
    input[type="submit"]:hover,
    input[type="submit"]:focus
     {
      background: $colour;
      color: white;
      border-color: $colour;
    }
  }
  nav {
    &.main-menu {
      > .container > nav.block-menu,
      .block-system-main-menu,
      .block-dominion-menu {
        background-color: $colour;
        border-top: 4px solid $colourlight;
        > ul.menu > li.active-trail,
        > ul.menu > li:hover {
          background-color: darken($colour, 10%);
          a {
            color: $linkcolor !important;
          }
        }
        a {
          color: $linkcolor !important;
          &.active,
          &:hover {
          }
        }
        ul {
          li {
            ul {
              background-color: darken($colour, 10%);
              a {
                &:hover {
                  background-color: $colour;
                }
              }
            }
          }
        }
      }
    }
  }
  .quicktabs-tabs {
    li.active a {
      background-color: #fff;
      color: $link-dark;
    }
    > li {
      > a:focus,
      > a:hover {
        background-color: $colour;
        color: $linkcolor;
      }
    }
    a:focus {
      outline: auto;
    }
  }

  .carousel {
    .progress {
      background-color: $colourlight;
    }
    .pager {
      a {
        text-decoration: none;
        span {
          background-color: #fff;
        }
        &:hover,
        &.selected {
          span {
            background-color: $colour;
            color: $linkcolor !important;
          }
        }
      }
    }
    .btn_next,
    .btn_prev {
      color: #fff;
      &:hover {
        color: $colourlight;
      }
    }
  }
  .block-menu-menu-toptaken > ul {
    background-color: lighten($background-color, 0%);
    & > li {
      &.toptaken-active,
      &:hover {
        background-color: $toptakencolour;
        a {
          color: $linkcolor;
        }
      }
      &.toptaken-active > ul a:hover {
        background-color: lighten($background-color, 5%);
      }
    }
  }
  .node {
    .content {
      .inlinetabs,
      .quicktabs-wrapper {
        ul.tabs,
        ul.quicktabs-tabs {
          li {
            a {
              background-color: $background-color;
              &:focus {
                background-color: $colour;
                color: $linkcolor;
              }
            }
            &.active,
            &:hover{
              a {
                background-color: $colour;
                color: $linkcolor;
              }
            }
          }
        }
      }
    }
  }
}

nav.main-menu .quicktabs-tabpage .close-button {
  &:link,
  &:visited {
    color: $colour;
    &:after {
      color: $colour;
    }
  }
  &:focus,
  &:hover {
    color: darken($colour, 10%);
    &:after {
      color: darken($colour, 10%);
    }
  }
  &:active {
    color: darken($colour, 20%);
    &:after {
      color: darken($colour, 20%);
    }
  }
}
