// Documenteren
$color-names:         dark-brown purple dark-green ruby red violet moss-green brown green azure light-blue pink yellow dark-yellow mint-green orange;
$color-values:        $dark-brown $purple $dark-green $ruby $red $violet $moss-green $brown $green $azure $light-blue $pink $yellow $dark-yellow $mint-green $orange;
$color-values-light:  $dark-brown-light $purple-light $dark-green-light $ruby-light $red-light $violet-light $moss-green-light $brown-light $green-light $azure-light $light-blue-light $pink-light $yellow-light $dark-yellow-light $mint-green-light $orange-light;
$link-color:          $link-light $link-light $link-light $link-light $link-light $link-light $link-light $link-light $link-light $link-light $link-dark $link-dark $link-dark $link-dark $link-dark $link-dark;
$colors: zip($color-names, $color-values, $color-values-light, $link-color);

@each $color in $colors {
  $type: nth($color, 1);
  $colour: nth($color, 2);
  $colourlight: nth($color, 3);
  $linkcolor: nth($color, 4);

  body.#{$type} {
    a {
      @include link-colors($colour, darken($colour, 10%), darken($colour, 20%));
    }
    #main {
      input[type="submit"] {
        @include background-image(linear-gradient($colour, darken($colour, 7%)));
        box-shadow: lighten($colour, 35%) 0 1px 0 inset;
        border: 1px solid darken($colour, 10%);
        color: $linkcolor;
        &:hover, &:focus {
          @include background-image(linear-gradient(darken($colour, 3%), darken($colour, 10%)));
        }
        &:active {
          @include background-image(linear-gradient(darken($colour, 7%), $colour));
        }
      }
      //.region_363_first,
      //.region_363_third,
      //.region_93_second,
      //.region_39_first {
        .block {
          h2.block-title {
            background-color: lighten($background-color, 7%);
            border-top: 1px solid $background-color;
          }
        }
      //}
    }
    .poll .bar .foreground {
      background-color: $colour;
    }
    .block-search {
      background-color: $colourlight;
    }
    #search-form {
      input[type="text"] {
        //border: 5px solid $colourlight;;
      }
    }
    nav {
      &.main-menu {
        > .container > nav.block-menu,
        .block-system-main-menu,
        .block-dominion-menu {
          background-color: $colour;
          border-top: 4px solid $colourlight;
          //> ul > li > a {
          //  border-right: 1px solid $colourlight;
          //  border-left: 1px solid rgba(255, 255, 255, 0.2);
          //}
          //> ul > li.last > a {
          //  border: 0;
          //}
          > ul.menu > li.active-trail,
          > ul.menu > li:hover {
            background-color: darken($colour, 10%);
            a {
              color: $linkcolor !important;
            }
          }
          a {
            color: $linkcolor !important;
            &.active,
            &:hover {
            }
          }
          ul {
            li {
              ul {
                background-color: darken($colour, 10%);
                a {
                  &:hover {
                    background-color: $colour;
                  }
                }
              }
            }
          }
        }
      }
    }
    #quicktabs-alfabet {
      .quicktabs-tabs {
        li.active a {
          background-color: #fff;
          color: $link-dark;
        }
        a:hover {
          background-color: $colour;
          color: $linkcolor;
        }
      }
    }

    .carousel {
      .progress {
        background-color: $colourlight;
      }
      .pager {
        a {
          text-decoration: none;
          span {
            background-color: #fff;
          }
          &:hover,
          &.selected {
            span {
              background-color: $colour;
              color: $linkcolor !important;
            }
          }
        }
      }
      .btn_next,
      .btn_prev {
        &:hover {
          color: $colourlight;
        }
      }
    }
    .block-menu-menu-toptaken > ul {
      background-color: lighten($background-color, 0%);
      & > li {
        &.toptaken-active,
        &:hover {
          background-color: $colour;
          a {
            color: $linkcolor;
          }
        }
        &.toptaken-active > ul a:hover {
          background-color: lighten($background-color, 5%);
        }
      }
    }
    .node {
      .content {
        .inlinetabs,
        .quicktabs-wrapper {
          ul.tabs,
          ul.quicktabs-tabs {
            li {
              a {
                background-color: $background-color;
              }
              &.active,
              &:hover {
                a {
                  background-color: $colour;
                  color: $linkcolor;
                }
              }
            }
          }
        }
      }
    }
  }
}
