// Forms
//------------------------------------------------------------------------------

fieldset {
  border: none;
  padding: 0;
  margin: 1em 0;
}

legend, label {
  font-weight: bold;
}

label {
  display: block;
  &.option {
    @extend .inline-block;
    font-weight: normal;
  }
}

.form-item {
  @extend .clearfix;
  margin: 1em 0;
  position: relative;
  td & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form-text, .form-textarea, .form-password {
  border: solid 1px $border;
  padding: 0.5em;
}

.form-text,
.form-textarea,
.form-password,
.form-select {
  max-width: 100%;
}

.form-item .description {
  color: $gray;
  margin-top: 0.5em;
}

.form-actions {
  padding: 1em 0;
}

.form-required {
  color: $error;
}

input[disabled], select[disabled], textarea[disabled], button[disabled],
input[disabled] + label {
  cursor: not-allowed;
}

input[type="text"],
input[type="search"],
input[type="submit"],
input[type="password"] {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid $border;
  color: $text-color;
  padding: 0.5em;
}
input[type="submit"] {
  @include border-radius(3px);
}
input[type="text"],
input[type="search"],
input[type="password"],
textarea {
  @include box-shadow(inset 2px 2px 6px rgba(0, 0, 0, 0.1));
}
.error {
  border-color: #F2BFBB;
}

#edit-submit {
  margin-right: 1em;
}

#user-profile-form {
  input[type="text"], input[type="password"], textarea {
    width: 100%;
  }
}
.fieldset-legend {
  @include font-size(16);
  font-family: $heading;
  font-weight: 400;
}
