.service-links {
  background-color: lighten($background-color, 7%);
  border-top: 1px solid $background-color;
//  background-color: lighten($background-color, 7%);
  margin: $gutter-width/2 0;
  padding: $gutter-width/2;
  overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      margin-right: $gutter-width/2;
    }
  }
  a {
    float: left;
    margin-right: $gutter-width/2;
  }
}

.dominion-social {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: $gutter-width/2;
  }
}
