$toptakentotal: 737px;
$tabs: 267px;
$buttons: ($toptakentotal - $tabs);

.block-menu-menu-toptaken {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  > ul {
    width: $tabs;
  }
}
.block-menu-menu-toptaken > ul > li {
  @include font-size(14);
  border-bottom: 1px solid #FFFFFF;
  line-height: 1;

  > a {
    font-family: $heading;
    color: $link-dark;
    text-decoration: none;
    display: block;
    padding: 15px $gutter-width/2;
  }
  &.last {
    border: 0;
  }
}
.block-menu-menu-toptaken > ul > li > ul {
  border: 1px solid lighten($background-color, 5%);
  border-left: 0;
  display: none;
  height: 100%;
  left: $tabs;
  position: absolute;
  top: 0;
  width: $buttons;
}
.block-menu-menu-toptaken > ul > li.toptaken-active {
  //border-right: 4px solid;
  > a {
    background-image: url('../img/toptaken-arrow.png');
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: -9px;
  }
  > ul {
    display: block;
    > li {
      float: left;
      width: 231px;
      a {
        @include border-radius(4px);
        @include font-size(12);
        background: #fff url('../img/icon-blue-124.png') no-repeat 8px 50%;
        display: block;
        height: 61px;
        margin: $gutter-width/2 0 0 $gutter-width/2;
        padding: $gutter-width;
        padding-left: 52px;
        padding-right: $gutter-width;
      }
    }
    a {
      color: $text-color !important;
    }
  }
}
