.block-menu-menu-toptaken {
  border: 1px solid $background-color;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    ul {
      height: 100%;
      background-color: #fff;
      top: 0;
      display: none;

      li {
        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      a {
        padding: $gutter-width/2;
        color: $text-color !important;
        display: block;
        @include font-size(12);

        img {
          margin: 0 $gutter-width/2 0 0;
        }
      }
    }
  }

  > ul > li {
    @include font-size(14);
    line-height: 1;
    border-bottom: 1px solid #fff;

    &.last {
      border: 0;
    }

    > a {
      padding: 18px $gutter-width/2;
      color: #000;
      font-family: $heading;
      text-decoration: none;
      display: block;

      &.active {
        color: #000;
      }
    }

    // Roundabout way for hover, circumvents iPhone hover bug while still
    // keeping accessibility intact.
    .no-touch &:hover,
    html.no-js &:hover,
    &:focus,
    &.toptaken-active {
      > a {
        position: relative;
        z-index: 10;

        @include at-breakpoint($break-medium) {
          &:after {
            content: ' ';
            width: 0;
            height: 0;
            margin-top: -15px;
            border: 15px solid transparent;
            border-left-color: get_env_color('dtoptakencolor', $azure);
            position: absolute;
            left: 100%;
            top: 50%;
            pointer-events: none;
          }
        }
      }

      ul {
        display: block;
        z-index: 1;
      }
    }

    &:hover,
    &:focus {
      ul {
        z-index: 2;
      }
    }
  }
}
