<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Readspeaker test</title>

    <script src="http://dimpact/sites/all/modules/contrib/jquery_update/replace/jquery/1.5/jquery.min.js?v=1.5.2"></script>
    
    <script type="text/javascript" src="http://f1.eu.readspeaker.com/script/26/ReadSpeaker.js?pids=embhl"></script>
    
</head>
<body>

       <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve">
        <a class="rsbtn_play" title="Laat de tekst voorlezen met ReadSpeaker" href="//app.readspeaker.com/cgi-bin/rsent?customerid=5&amp;lang=nl_nl&amp;readid=main&amp;url=http:%2F%2Fdimpact.staging.dop.nu%2F">
          <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Lees voor</span></span></span>
          <span class="rsbtn_right rsimg rsplay rspart"></span>
        </a>
      </div>
      
      
      <p>Lees dit maar even voor</p>
      
</body>
</html>